.confirmation {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: all ease 0.4s;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
}
